// +-------------------------------------------------------------------------+
// | Misc                                                                    |
// +-------------------------------------------------------------------------+

pre {
  @include margin(0 0 2rem 0);

  > code {
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    @include padding(1rem 1.5rem);
  }
}

code {
  background: #F1F1F1;
  border: 1px solid #dbdbdb;
  font-family: "Consolas", "Monaco", "Menlo", monospace;
  white-space: nowrap;
  @include prefix(border-radius, 4px);
  @include font-size(1.3rem);
  @include padding(0.25rem 0.5rem);
  @include margin(0 0.25rem);
}
