.nav {
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    @include height($header-height);

    li {
      margin: 0;
      @include rem(line-height, $header-height);
      @include transition($transition-all);

      a, a:visited {
        display: flex;
        color: white;
        text-decoration: none;
        @include padding(0 10px);

        i {
          color: white;
          @include font-size(1.25rem);
          @include transition($transition-all);
        }

        span {
          @include padding-left(10px);
        }

        &:hover {
          i { @include animation(bounce 0.25s forwards); }
        }
      }

      &:hover {
        background: $secondary-color;
      }
    }
  }
}

@include keyframes(bounce) {
  0% { @include prefix(transform, scale(1)); }
  25% { @include prefix(transform, scale(0.5)); }
  50% { @include prefix(transform, scale(1.5)); }
  100% { @include prefix(transform, scale(1)); }
}
