.loader-overlay {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $z-loader;
  @include alpha(1);
  @include position(fixed, 0, 0, 0, 0);

  .loader {
  	display: flex;
  	justify-content: space-around;
  	flex-wrap: wrap;
    @include height(50px);
    @include width(50px);

  	&-circle {
  		display: flex;
      @include height(20px);
      @include width(20px);
      @include prefix(border-radius, 50%);

  		&-1 { background: $gray-1; }
  		&-2 { background: $gray-2; }
  		&-3 { background: $gray-3; }
  		&-4 { background: $gray-4; }
  	}
  }
}

.loading {
  background: white;
  height: 100%;
  width: 100%;
  z-index: $z-loader;
  @include position();
}
