// +-------------------------------------------------------------------------+
// | Breakpoints                                                             |
// +-------------------------------------------------------------------------+

$is-print:          "print";
$is-mobile:         "(max-width: 480px)";
$is-phablet:        "(max-width: 640px)";
$is-tablet:         "(max-width: 768px)";
$is-retina:         "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5)";
$is-desktop:        "(min-width: 1024px)";
$is-portrait:       "(oriantation: portrait)";
$is-landscape:      "(orientation: landscape)";
$is-iphone-5:       "(device-aspect-ratio: 40/71)";
$is-under-iphone-5: "(device-aspect-ratio: 2/3)";
