// +-------------------------------------------------------------------------+
// | Social networks                                                         |
// +-------------------------------------------------------------------------+

$dribbble: #ea4c89;
$dropbox: #007ee5;
$facebook: #3b5998;
$flickr: #ff0084;
$github: #000000;
$googleplus: #dd4b39;
$instagram: #517fa4;
$linkedin: #007bb6;
$pinterest: #cb2027;
$snapchat: #fffc00;
$spotify: #00e461;
$tumblr: #32506d;
$twitter: #00aced;
$reddit: #ff4500;
$rss: #ff6600;
$vimeo: #1ab7ea;
$vine: #00bf8f;
$whatsapp: #4dc247;
$youtube: #bb0000;

// +-------------------------------------------------------------------------+
// | Flat UI Colors                                                          |
// +-------------------------------------------------------------------------+

// Greens
$turquoise: #1ABC9C; $green-1: $turquoise;
$green-sea: #16A085; $green-2: $green-sea;
$emerald: #2ECC71; $green-3: $emerald;
$nephritis: #27AE60; $green-4: $nephritis;

// Blues
$peter-river: #3498DB; $blue-1: $peter-river;
$belize-hole: #2980B9; $blue-2: $belize-hole;
$wet-asphalt: #34495E; $blue-3: $wet-asphalt;
$midnight-blue: #2C3E50; $blue-4: $midnight-blue;

// Purples
$amethyst: #9B59B6; $purple-1: $amethyst;
$wisteria: #8E44AD; $purple-2: $wisteria;

// Yellows
$sunflower: #F1C40F; $yellow-1: $sunflower;

// Oranges
$orange: #F39C12; $orange-1: $orange;
$carrot: #E67E22; $orange-2: $carrot;
$pumpkin: #D35400; $orange-3: $pumpkin;

// Reds
$alizarin: #E74C3C; $red-1: $alizarin;
$pomegranate: #C0392B; $red-2: $pomegranate;

// Grays
$clouds: #ECF0F1; $gray-1: $clouds;
$silver: #BDC3C7; $gray-2: $silver;
$concrete: #95A5A6; $gray-3: $concrete;
$asbestos: #7F8C8D; $gray-4: $asbestos;

// +-------------------------------------------------------------------------+
// | Base Colors                                                             |
// +-------------------------------------------------------------------------+

$main-color: #eb914e;
$secondary-color: #35484d;
