.top-bar {
  background: darken($secondary-color, 5%);
  z-index: $z-top-bar;
  @include height($header-height);
  @include position(fixed, 0, 0, null, 0);

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include padding(0 1.5rem);
  }
}
